<h2>利用規約</h2>
<ul>
    <li>1,当掲示板は同朋大学コンピュータサークル（D-coding）が運営する学内掲示板です。</li>
    <li>2,原則として他学生の使用、登録は禁止することとします。</li>
    <li>3,どんな内容の書き込みでも大丈夫ですが、誹謗中傷、個人のプライバシーを著しく侵害する書き込みはこちら側の判断で削除させていただきます。</li>
    <li>4,悪質な書き込みが続く場合、こちら側の判断でアカウントを停止させていただきます。</li>
    <li>5,この規約は新規登録を完了した時点で同意したとみなします。</li>
    
</ul>

<h2>操作説明</h2>
<ul>
    <li>新規登録を行うことで書き込むことができます。</li>
    <li>以降は画面上の『ログイン』からログインできます。</li>
    <li>『投稿する』で書き込むことができます。</li>
    <li>書き込みの『コメント』という部分を押すと返信をすることができます。</li>
    <li>パソコン、タブレットの場合画面上の『機能』で検索することができます。</li>
    <li>画面上の『マイページ』で今まで投稿した書き込みを見ることができます。</li>
</ul>